# Ignore the spoor that OSes and editors leave around.
*.bkp
*.tmp
*.vi
*~
.#*
.DS_Store*
.Trashes*
.cache
.project
.settings
Icon?
Thumbs.db
\#*#
\#.*

# Copied from the Pyramid project's .gitignore, a good place to start.
*$py.class
*.egg
*.egg-info
*.pt.py
*.pyc
*.txt.py
.coverage
.idea/
.tox/
bin/
bookenv/
build/
dist/
distribute-*.tar.gz
env*/
include/
jyenv/
nosetests.xml
pypyenv/
pyramid/coverage.xml
tutorial.db

# Copied from the HTML5Boilerplate folks' .gitignore file.
*.diff
*.err
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
.CVS
.hg
.idea
.svn
intermediate
publish

# Ignore Beaker's session-data folder.
/data

# Ignore Mongrel's process-id files.
/pid